[Unit]
Description=Twilio API Flask Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/crimestl
Environment="PATH=/home/ubuntu/crimestl/venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="OLLAMA_HOST=http://localhost:11434"
ExecStart=/home/ubuntu/crimestl/venv/bin/python3 twilio_api.py

[Install]
WantedBy=multi-user.target
